{% extends 'base.html' %}
{% block content %}
    

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'preguntas.css' %}">
    <title>Questions</title>
</head>
<body>
    <h1>Todas las preguntas</h1>

    {% for pregunta in preguntas  %}
    <div class="pregunta_container">
        <ul>
            <h2><li>{{pregunta}}<div class="fecha"><br>{{pregunta.fecha_publicacion}}</div> </li></h2>
            <a class="botoncitos" href="{% url 'detalles_por_pregunta' pregunta.id %}">Ver {{pregunta.respuestas.count}} respuesta/s</a>
            <a class="botoncitos" href="{% url "responder" pregunta.id  %}">Responder pregunta</a>
        </ul>
    </div>
        
    {% endfor %}
</body>
</html>
{% endblock content %}